body {
    display: grid;
    grid-template-areas: 
        "button1 button2 . ."
        "gender photo photo birth"
        "gender photo photo profession"
        ". fio fio .";
    grid-template-columns: 200px 1fr 1fr 200px;
    grid-template-rows: auto 250px 250px auto;
    gap: 20px;
    padding: 20px;
    max-width: 900px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
}


.col { grid-area: fio; }
.person-picture { grid-area: photo; }
.person-gender { grid-area: gender; }
.person-birth { grid-area: birth; }
.person-profession { grid-area: profession; }
#btnGeneration { grid-area: button1; }
#btnCleen { grid-area: button2; }


.person-card {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #6391be;
    margin: auto;
    padding: 15px;
    font-size: 150%;

}

.container {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #63af54;
    padding: 30px;
}

.person-picture {
    border-radius: 10%;
    width: 400px;
    height: 450px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    background: #f8f9fa;
}

.btn {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #63af54;
    margin: 10px;
    padding: 15px;
}

.col {
    text-align: center;
    padding: 20px;
    border-radius: 105px;
    margin: auto;
}